:root {
  --color-dark: #1b1b1b;
  --color-light: #1ffff4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-dark);
  font-family: sans-serif;
  font-size: 62.5%;
}

.app {
  color: white;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

.grid {
  width: 40rem;
  height: 40rem;
  border: 2px solid white;
  margin: 0 auto;
  max-width: 100%;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.grid__item {
  border: 1px solid white;
  background-color: var(--color-dark);
}

.grid__item--active {
  background-color: white;
}

.grid__item:hover,
.grid__item:focus {
  background-color: var(--color-light);
  cursor: pointer;
}

.buttons {
  margin: 1rem auto;
  width: 40rem;

  display: flex;
}

.btn {
  background-color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  width: 10rem;
  
  color: black;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;

}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

.btn:active {
  background-color: var(--color-light);
  cursor: pointer;
  box-shadow: inset 0 0 1rem #0000008f;
  font-size: 1.1rem;
}